language: php

php:
  - 5.6
  - 5.5
  - 5.4
  - hhvm
  - 7.0

before_script:
  - composer self-update
  - composer install --prefer-dist

script:
  - phpunit --coverage-text

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0